body{
    background-color: #1d2630f5;
}

*{
    color: #fff;
    font-size: 13px;
}

#Update{
    display: none;
}

.titles{
    text-align: center;
    color: white;
}

#searchInput{
    display: flex;
    text-align: left;
    color: black;
}

#total{
    display: none;
}

.nav-link{
    color: crimson;
}

.border {
    border-width: 2px !important;
}

.card {
    background-color: rgb(85, 5, 120);
}