body{
    background-color: #1d2630f5;
}

*{
    color: #fff;
    font-size: 13px;
}

#Update{
    display: none;
}

.titles{
    text-align: center;
    color: white;
}

#searchInput{
    display: flex;
    text-align: left;
    color: black;
}

#total{
    display: none;
}

.limit{
    border-style: dashed;
    color: white;
}

.nav-link{
    color: crimson;
}

.card{
    color: black;
}

.card-body{
    color: black;
}

.card-text{
    color: black;
}

.nav-item{
    font-size: 12px;
}